.link--caren::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  bottom: -30px;
  border-radius: 2px;
  color: var(--colored-text);
  background-color: var(--hover-text);
}

.link--caren {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--hover-text);
}

.item__svg {
  fill: currentColor;
  margin-right: 10px;
  transition: fill var(--time) var(--cubic);

  &:hover {
    fill: currentColor;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__item2 {
  flex-direction: column;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color var(--time) var(--cubic);

  &:hover,
  &:focus,
  &:active {
    color: var(--hover-text);
  }
}

.header__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.header__connect {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    flex-direction: row;
  }
}

.heder {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

//.......... Мобильное меню.....................

.close-menu-btn {
  position: fixed;
  z-index: 6;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 30px;
  // height: 30px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  fill: #000000;
  background-color: #fff;
  transition: fill var(--time) var(--cubic);
  cursor: pointer;
}

.mob--menu__item {
  margin-top: 32px;
  margin-left: 40px;
}

.mob--menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color var(--time) var(--cubic);
}

.numer__link {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.link__tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  margin-bottom: -35px;
  color: var(--main-text-color);
  margin-left: 10px;
  transition: color var(--time) var(--cubic);

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    padding: 10px 0;
    transition: color var(--time) var(--cubic);
  }
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    padding: 32px 0;
    transition: color var(--time) var(--cubic);
  }
}

.bloo__color {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition: color var(--time) var(--cubic);
}

.item__svg {
  visibility: collapse;

  @media screen and (min-width: 768px) {
    visibility: collapse;
  }
  @media screen and (min-width: 1200px) {
    visibility: visible;
  }
}

.mobil {
  // display: ;
  position: relative;
  bottom: 0;
}

.mobil2 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.mobil__item {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.mobil__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition: color var(--time) var(--cubic);

  &::before {
    content: "";
    display: block;
    position: relative;
    width: 1px;
    height: 22px;
    bottom: -20px;
    right: 12px;
    border-radius: 2px;
    color: rgba(33, 33, 33, 0.2);
    background-color: rgba(33, 33, 33, 0.2);
  }
}
.mobil__link:not(:last-child) {
  content: "";
  display: block;
  position: relative;
  width: 0px;
  height: 0px;
  bottom: -20px;
  right: 12px;
  border-radius: 2px;
  color: rgba(33, 33, 33, 0.2);
  background-color: rgba(33, 33, 33, 0.2);
}
